---
import SanityPortableText from "./SanityPortableText.astro";
import { getSanityImageURL, formatBlogPostDate } from "../utils/helpers.js";
import NextArticleSection from "./NextArticleSection.astro";
import Stamp from "../svg/stamp.astro";

const {
  post,
  lightColor,
  darkColor,
  articleType,
  articleTypeSlug,
  readMoreData,
} = Astro.props;
---

<div class="blogPostWrapper">
  <article class="blogArticleWrapper">
    <header class="blogHeader">
      {
        articleType && (
          <div class="categoryPill">
            <p>{articleType}</p>
          </div>
        )
      }
      <div class="hideAnimatedItem">
        <h2>{post.title}</h2>
      </div>
      <div class="underline"></div>
      <time class="hideAnimatedItem">
        <small>
          {formatBlogPostDate(post.publishedAt)}
        </small>
      </time>
    </header>
    <div class="markdownWrapper">
      <SanityPortableText portableText={post.body} />
    </div>
    <div class="stampSVGWrapper">
      <Stamp />
    </div>
  </article>
  {
    readMoreData && (
      <>
        <NextArticleSection
          data={readMoreData}
          lightColor={lightColor}
          darkColor={darkColor}
          articleTypeSlug={articleTypeSlug}
        />
      </>
    )
  }
</div>

<style lang="scss" is:global define:vars={{ lightColor, darkColor }}>
  .blogPostWrapper {
    width: var(--page-width);
    max-width: var(--max-page-width);
    margin: 0 auto;
    position: relative;
  }
  .blogArticleWrapper {
    padding-top: 15rem;
    width: 65%;
    margin: 0 auto;
  }

  @keyframes underline {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fade-translate {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blogHeader {
    margin-bottom: 5rem;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .hideAnimatedItem {
    overflow: hidden;
    position: relative;
    width: 100%;
    small {
      position: relative;
      text-transform: uppercase;
    }
  }

  .underline {
    width: 100%;
    margin: 1rem 0;
    display: block;
    position: relative;
  }

  .underline::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: var(--color-text);
    animation: underline 0.5s cubic-bezier(0.7, 0, 0.84, 0) 0.15s forwards;
  }

  /* Add the following CSS for fade-in-y animation */
  .hideAnimatedItem h2 {
    opacity: 0;
    animation: fade-translate 1s ease 0.5s forwards;
  }
  .hideAnimatedItem small {
    opacity: 0;
    animation: fade-translate 1s ease 0.75s forwards;
  }

  .categoryPill {
    opacity: 0;
    animation: fade-in 1s ease 0.75s forwards;
    p {
      font-family: "Allnce-Neue-Regular";
      leading-trim: both;
      text-edge: cap alphabetic;
      letter-spacing: -0.5px;
    }
    border-radius: 50px;
    padding: 0.25rem 1.15rem;
    margin: 2rem 0;
    display: inline-block;
    color: var(--lightColor);
    border: 2px solid var(--lightColor);
    background-color: var(--darkColor);
  }

  .markdownWrapper {
    opacity: 0;
    animation: fade-in 1s ease 0.5s forwards;
    p {
      margin: 1rem auto;
      margin-top: 0;
    }
    a {
      color: var(--lightColor);
    }
    blockquote {
      border-left: 2px solid var(--lightColor);
    }
  }
  .stampSVGWrapper {
    display: inline-block;
    margin: 5rem 0;
    display: grid;
    place-items: center;
  }

  .readMore {
    display: flex;
  }

  @media (max-width: 1500px) {
    .blogArticleWrapper {
      width: 85vw;
    }
  }

  @media (max-width: 576px) {
    .blogHeader {
      margin-bottom: 3rem;
    }
    .blogArticleWrapper {
      width: 100%;
      padding-top: 5rem;
    }
    .categoryPill {
      p {
        font-size: 14px;
      }
    }
  }
</style>
